#containerGrow{
  margin-left: 5vw;
  background-color: #007BB6;
  border-radius: 10px;
  width: 8em;
  height: 8em;
  transition: width 1s;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 4vw;
}

#containerGrowMail{
  margin-left: 5vw;
  position: relative;
  top: 1.5em;
  background-color: #F8DB10;
  border-radius: 10px;
  width: 8em;
  height: 8em;
  transition: width 1s;
  overflow: hidden;
  white-space: nowrap;


}
#containerGrowMail:hover{
  width: 40em;
}
#containerGrow:hover{
  width: 40em;
}

#linkContact{
  margin-left: 5vw;
  vertical-align: 60%;
  text-decoration: none;
  color:#FFFFFF;
  font-weight: bold;
  font-size: 5vw;
}

#mail{
  vertical-align: 60%;
  margin-left: 1vw;
  vertical-align: 120%;
  color:#FFFFFF;
  font-weight: bold;
  font-size: 3vw;

}
#img{
  height: 10vw;
  width: 11vw;
}

/* @keyframes etirage {
  from{
    width:10vw;
  }
  to{
    width: 30vw;
  }
} */
