#Titres{
  left: 1vw;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 60VH;
  justify-content: space-between;
  float: left;

}
#separateurButtonContenu{
  height: 100%;
  width: 100%;
  position: relative;
}


Button{
  background-color: #030474;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 2.5vw;
  border-radius: 7px;
  min-height: 20px;

}
Button:hover{
  background-color: #33CCCC;
  font-weight: bold;
  cursor: pointer;
}
#Contenu{
  float: right;
  position: absolute;
  width: 50%;
  margin-left: 50%;
  color:#080C2A;
  max-width: 65%;
}
#titreContenu{
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  font-size: 5vmin;
  text-align: center;
  padding: 2vmin;
}

#barreProgressionVide{
  position: relative;
  width:35vw;
  margin-bottom: 9VH;
  margin-top: 8VH;
  font-size: 2.5vmin;
	background:#00FFF9;
  border: solid;
  border-color: #10183C;
  border-radius: 10px;
  color: #FFFFFF;
  text-align: center;
  align-items: center;
}

#barre75{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 75%;
  background:#10183C;
  animation-duration: 2.2s;
  animation-name: avancement;
  animation-iteration-count: 1;
}

#barre50{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 50%;
  background:#10183C;
  animation-duration: 2.2s;
  animation-name: avancement;
  animation-iteration-count: 1;

}

#barre25{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 25%;
  background:#10183C;
  animation-duration: 2.2s;
  animation-name: avancement;
  animation-iteration-count: 1;
}

@KeyFrames avancement{
  from {
    width: 0vw;
  }

  to {
    width: 75%, 50%, 25%;
  }
}

#contenuCompetences{
  position: absolute;
  margin-top: 5VH;
  font-family: "Lucida Console", Monaco, monospace;
  color:#080C2A;
  font-size: 2.4vmin;

}
#contenuExperience{
  position: relative;
  width: 30vw;
  min-width: 150px;
  margin-top: 0.6vw;
  margin-bottom: 1vw;
  text-align: center;
  opacity: 0;
  animation-fill-mode: forwards;
  padding: 0.5vw;
}
#contenuFormation{
  position: relative;
  width: 30vw;
  min-width: 150px;
  margin-top: 0.6vw;
  margin-bottom: 1vw;
  text-align: center;
  opacity: 0;
  animation-fill-mode: forwards;
}


#date{
  font-size: 1.2em;
  color: #33CCCC;
}



.cModal {
  text-align: center;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity:0;
  pointer-events: none;
  overflow: auto;

}
.cModal:target {
  opacity:1;
  pointer-events: auto;
}
.cModal > div {
  max-width: 70vw;
  position: relative;
  margin: 1% auto;
  padding: 1vw 1vw 2.5vw 1vw;
  border-radius: 2px;
  background: #fff;

}

#presentationExperience{
  text-align: left;
  font-family: Monospace;
  font-size: 1vw;
}
#linkExp{
  position: relative;
  text-decoration: none;
  background-color: black;
  top:1vw;
  padding: 0.6vw;
  color: #FFFFFF;
  border-radius: 50px;
  border: solid;
  border-width: 0.1vw;
  border-color: black;
}

#linkExp:hover{
  animation: animationBtn 1s linear alternate infinite;
}

@keyframes animationBtn {
  from {
    background-color: black;
    border-radius: 50px;
  }
  to {

    background-color: white;
    color:black;

  }
}
