#contenu{
  width: 15vw;
  height: 15vw;
  border-radius: 10px;
}
#explicationsProjet{
  position: absolute;
  display: flex;
  justify-content: space-between;
  font-size: 2vmin;
}
#explication_nuitInfo{
  padding-right: 2vw;
  width: 15vw;
}

#explication_hashCode{
  width: 20vw;
}
