#ExperienceComponents{
  position: absolute;
  bottom: -8vw;
  height: 40vw;
  left: -40vw;
  right: -15vw;
  border-radius:30px;
  color: #FFFFFF;
  background-color: #0A1020;
  text-align: center;
}
